body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url('../images/pattern-background-desktop.svg') $Pale-blue no-repeat;

  .container {
    margin: 0 auto;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $White;
    text-align: center;
    border-radius: 25px;
    box-shadow: 0rem .2rem 1.5rem $Desaturated-blue;

    img {
      width: 100%;
      border-radius: 25px 25px 0 0;
    }

    .text {
      margin-bottom: 1.5rem;
      text-align: center;

      h2 {
        margin-top: 1.5rem;
        margin-bottom: 1rem;
      }

      p {
        width: 65%;
      }
    }

    .value {
      width: 75%;
      margin-bottom: 1.5rem;
      padding: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $Very-pale-blue;
      border-radius: 10px;

      img {
        width: 3rem;
      }
      
      .text-value {
        margin-left: -1rem;
        text-align: left;
      }

      a {
        font-weight: 900;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
          opacity: .6;
        }
      }

      @media(max-width: 375px) {
        width: 90%;
      }
    }

    button {
      width: 75%;
      margin-bottom: 1.5rem;
      padding: 1rem;
      background: $Bright-blue;
      border: none;
      border-radius: 10px;
      font-family: $red-hat;
      font-weight: 900;
      color: $White;
      box-shadow: 0rem 0.8rem 1.5rem $Desaturated-blue;
      cursor: pointer;

      &:hover {
        opacity: .8;
      }
    }

    .btn-cancel {
      margin-bottom: 2rem;
      font-weight: 900;
      color: $Desaturated-blue;

      &:hover {
        color: $Dark-blue;
      }
    }

    @media(max-width: 1100px) {
      .value {
        img {
          margin-left: 0;
        }

        .text-value {
          margin-left: 0;
        }
      }
    }

    @media(max-width: 875px) {
      width: 40%;

      .value {
        img {
          margin-left: 0;
        }

        .text-value {
          margin-left: 0;
        }
      }
    }

    @media(max-width: 770px) {
      width: 45%;
    }

    @media(max-width: 700px) {
      width: 50%;
    }

    @media(max-width: 600px) {
      width: 60%;
    }

    @media(max-width: 500px) {
      width: 70%;
    }

    @media(max-width: 400px) {
      width: 80%;
    }

    @media(max-width: 375px) {
      width: 85%;

      .text {
        p {
          width: 85%;
        }
      }

      .value {
        img {
          margin-left: 0;
        }

        .text-value {
          margin-left: 0;
        }
      }

      button {
        width: 90%;
        padding: 1rem;
      }
    }

    @media(max-width: 300px) {
      width: 90%;
    }

    @media(max-width: 280px) {
      width: 95%;
    }
  }
  
  .attribution {
    font-size: 11px; 
    text-align: center;
    position: fixed;
    bottom: 0;
  
    a { 
      color: hsl(228, 45%, 44%);
    }
  }
}
